{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ post.title }}{% endblock %}

{% block body %}
    <div class="w-75 m-auto">
        {% for label, messages in app.flashes(['error', 'success']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
            {% endfor %}
        {% endfor %}
        <article class="vstack gap-2 py-3">
            <div class="py-3">
                <h1 class="text-primary">{{ post.title }}</h1>
                <span class="text-muted">{{ 'app.post.written_by'|trans }}
                    {{ post.createdBy.username }} {{ 'app.post.publication_date.on'|trans }} {{ post.createdAt|format_datetime('full', 'none') }}</span>
            </div>
            <span class="border-bottom border-light"></span>
            <p class="fs-5">{{ post.text|nl2br|raw }}</p>
        </article>

        <a href="{{ path('app_post_index') }}">
            <button class="btn btn-primary">{{ 'app.back_to_list'|trans }}</button>
        </a>

        {% if app.user == post.createdBy or is_granted('ROLE_ADMIN') %}
            <div class="hstack gap-2 my-2 float-end">
                <a href="{{ path('app_post_edit', {'id': post.id}) }}">
                    <button class="btn btn-warning">{{ 'app.button.edit'|trans }}</button>
                </a>
                {{ include('post/_delete_form.html.twig') }}
            </div>
        {% endif %}
    </div>
{% endblock %}
